.gitbook-link {
    display: none !important;
}

i.fa.fa-twitter {
    display: none !important;
}

i.fa.fa-facebook {
    display: none !important;
}

i.fa.fa-share-alt {
    display: none !important;
}
